* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.clearFix{
    clear: both;
}
/*Wrapper class*/
.wrapper{
    max-width: 80%;
    margin: auto;
}

/*Fonts that will be used*/
.playFair{
    font-family: 'playfair display', serif;
}
.cabin{
    font-family: 'cabin', sans-serif;
}
/*-------------------------------------------------*/
/*Text Styling*/
.lineGap{
    line-height: 2vw;
}
.mainTitle{
    font-size: 2.5vw;
}
.subTitle{
    font-size: 2vw;
}
.description{
    font-size: 1.3vw;
}
.uppercase{
    text-transform: uppercase;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
.red{
    color: red;
}


/*-------------------------------------------------*/

/*CSS for Navigation Bar*/
.navBar{
    height: auto;
    width: 100%;
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav {
    font-weight: bold;
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 30px;
    color: #141414;
    padding: 20px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    text-transform: uppercase;
    display: inline;
    float: right;
    font-size: 20px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 30px 10px;
    text-decoration: none;
    color: #141414;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}
/*--------------------------------------*/
/*Header Part*/
header{
    background-image: url("../images/assets/image-1.jpg");
    background-color: #f4f4f4;
    position: relative;
    height: 52vw;
    background-size: cover;
    background-repeat: no-repeat;
}
.headerText{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    width: 33%;
    padding: 2% 4%;
}
/*------------------------------------------*/
/*Section Part*/
section{
    background-color: #f4f4f4;
    text-align: center;
    padding: 5% 0;
    position: relative;
}
.imageContainer{
    position: relative;
}
section img{
    width: 80%;
    height: auto;
    margin: auto 5vw;
}
section i{
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: #000;
}

/*------------------------------------------*/
/*Article Part*/
article{
    margin: 5% 0;
}
.col{
    display: inline-block;
    background-color: #f4f4f4;
    width: calc(100% / 2 - 3%);
    margin: 1%;
}
.col img{
    width: 100%;
}
.content{
    position: relative;
    padding: 2% 8%;
}
.date{
    position: absolute;
    top: -2%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: red;
    padding: 1% 5%;
    letter-spacing: 2px;
}
/*------------------------------------------*/
/*Footer Part*/
footer{
    color: #f4f4f4;
    background-color: #333333;
    overflow: hidden;
}
footer  li{
    list-style-type: none;
    line-height: 1.7vw;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.colSmall{
    width: calc(100% / 5);
}
.colMedium{
    width: calc(100% / 3 - 5%);
}
.colLarge{
    width: calc(100% / 2 - 10%);
}
input[type=text] {
    width: 65%;
    padding: 0.7vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label{
    display: flex;
    justify-content: space-between;
}
button{
    color: white;
    background-color: red;
    padding: 1% 5%;
    border: none;
}
footer h1{margin-bottom: 0;}
footer p{margin-top: 0;}

.bottom{
    background-color: #141414;
    position: sticky;
    bottom: 0;
    padding: 1%;
    width: 100%;
}
.social{
    display: flex;
    justify-content: space-between;
}

.socialMedia{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    width: calc(100% / 10);
}
/*------------------------------------------*/
/*For Big Tablet Devices*/
@media (max-width:1030px) {
    .wrapper{
        max-width: 95%;
    }
    .lineGap{
        line-height: 2.2vw;
    }
    .title{
        font-size: 3.2vw;
    }
    .description{
        font-size: 2.3vw;
    }
    .headerText{
        width: 40%;
        padding: 2% 4%;
    }
    .date{
        left: 65%;
    }
    .socialMedia{
        width: calc(100% / 5);
    }
    .footer li{
        line-height: 2vw;
    }
}
/*------------------------------------------*/

/*For Small-Tablet Devices*/
@media (max-width:850px) {
    .wrapper{
        max-width: none;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 90px;
        height: 80px;
        padding: 20px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: #ccc;
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 50px;
        height: 20px;
        border-top: 3px solid #141414;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #ccc;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 75px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
        padding: 13px 0;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
    .headerText{
        width: 40%;
        padding: 1% 2%;
    }
    .footer li{
        line-height: 2.5vw;
    }
    .col{
        margin: 0.5%;
    }
}
@media (max-width:650px){
    .nav > .nav-btn > label {
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label > span {
        width: 25px;
        height: 10px;
        border-top: 2px solid #141414;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh);
    }
    .nav > .nav-header > .nav-title {
        font-size: 22px;
        padding: 10px;
    }
    .nav > .nav-links {
        font-size: 18px;
        top: 50px;
    }
    .lineGap{
        line-height: 2.5vw;
    }
    .title{
        font-size: 3.5vw;
    }
    .description{
        font-size: 2.5vw;
    }
}